:root {
    --primary-color: #ee4d2d;
    --primary-color-hover: #ef674b;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;

}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.mw1200{
    max-width: 1200px;
    margin: auto;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.w-full {
    width: 100%;
}

.w-80 {
    width: 80%;
}

.mr-20 {
    margin-right: 20px !important;
}

.content__admin__button-add {
    width: unset !important;
    margin-top: 20px;
    background-color: #e05e44 !important;
}

.btn_admin-remove {
    color: red;
    font-weight: bold;
    background-color: transparent;
    font-size: 1.8rem;
    margin: 1rem 0 1rem 0.5rem;
    cursor: pointer;
    padding:  1rem;
    height: 38px;
    width: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    border: none;
}


.btn_admin-add {
    color: green !important;
    font-size: 3.3rem !important;
    font-weight: normal !important;
}

.mt-20 {
    margin-top: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}