.header{
    height: 50px;
    background-color: var(--primary-color);
}

.header__wrapper{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.header__logo--link{
    color: var(--white-color);
    font-size: 3rem;
    text-decoration: none;
}

.header__control{
    display: flex;
}

.header__control__item{
    margin-left: 1rem;
}

.header__control__item--link{
    text-decoration: none;
    font-size: 2rem;
    color: var(--white-color);
}

.header__control__item--link:hover{
    color: aquamarine;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
}

.content__name{
    font-size: 5rem;
    padding: 10rem 0;
    font-weight: 600;
    color: var(--primary-color);
}

.content__name h1{
    font-size: 5rem;
    display: inline;
}

.content__search{
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80rem;
    margin-bottom: 10rem;
}

.mb--content__search{
    display: none;
}

.content__search__select{
    padding: 1rem 2rem;
    font-size: 2rem;
    border: none;
    outline: none;
    margin-right: .5rem;
}

.content__search__input{
    border: none;
    outline: none;
    padding: 1.2rem 2rem;
    font-size: 2rem;
    flex: 1;
    width: auto;
}

.content__search__btn{
    padding: 1rem 2rem;
    width: 9.4rem;
    cursor: pointer;
    font-size: 2rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: .5rem;
    outline: none;
    border: none;
    margin: .2rem 0;
    margin-right: .2rem;
}

.content__search__btn:hover{
    background-color: var(--primary-color-hover);
}

.content__introduce{
    padding: 0 1rem;
}

.content__introduce__title{
    font-size: 2.2rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.content__introduce__list{
    font-size: 1.8rem;
    margin-left: 5rem;
}

.content__introduce__item{
    padding: .5rem 0;
}

/* footer begin */
.footer{
    height: 5rem;
    background-color: rgb(248, 236, 231);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.footer__list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__item{
    margin-right: 3rem;
}

.footer__item--link{
    text-decoration: none;
    font-size: 2rem;
    color: var(--text-color);
}

.footer__item--link:hover{
    color: var(--primary-color);
}

.footer__item__rela{
    position: relative;
    top: 2px;
}

.footer__copyright{
    font-size: 1.4rem;
    color: var(--text-color);
}
/* footer end */

/* result page - begin */
.content__result{
    width: 100%;
}

.content__result__item{
    font-size: 2rem;
    color: var(--text-color);
}

.word{
    display: flex;
    padding-bottom: 1rem;
    border-bottom: 1px solid saddlebrown;
    margin-bottom: 1rem;
}

.content__result__word__item{
    margin-right: 1rem;
}

.__word{
    color: var(--primary-color);
    font-weight: 600;
}

.nature{
    margin: 2rem 0;
}

.nature span{
    background-color: aquamarine;
    padding: .5rem 1rem;
    font-size: 1.8rem;
    font-weight: 600;
}

.mean{
    font-size: 1.6rem;
}

.mean-of-word{
    padding-left: 2rem;
    margin: 1rem 0;
}

.content__result__involve{
    margin-top: 2rem;
}

.content__result__involve__title{
    font-size: 1.8rem;
}

.content__result__involve__list{
    padding-left: 4rem;
    font-size: 1.6rem;
}

.content__result__involve__item{
    padding: .3rem 0;
}

.content__result__involve--link{
    color: var(--text-color);
}

.content__result__involve--link:hover{
    color: var(--primary-color);
}
/* result page - end */

/* register page - begin */
.content__register{
    display: flex;
    flex-direction: column;
    width: 80rem;
}

.content__register__title{
    color: var(--text-color);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.content__register__form__item{
    width: 100%;
    padding: 1rem 2rem;
    margin: .5rem 0;
    border-radius: .5rem;
    font-size: 2rem;
    outline: none;
    border: none;
    background-color: antiquewhite;
}

.content__register__form__item--alert{
    color: #ff0000;
    font-size: 1.2rem;
    display: none;
}

.content__register__form__item:focus{
    border: 1px solid saddlebrown;
    box-shadow: 0 0 5px saddlebrown;
}

.content__register__btn{
    width: 100%;
    padding: 1rem 2rem;
    margin: .5rem 0;
    background-color: var(--primary-color);
    border: none;
    outline: none;
    border-radius: .5rem;
    font-size: 2rem;
    color: aliceblue;
    cursor: pointer;
}

.content__register__btn:hover{
    background-color: var(--primary-color-hover);
}

.content__register__toLogin{
    text-decoration: none;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 2rem;
}
/* register page - end */